.home__content{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    h2{
        text-align: center;
    }
}
.home__content-grid{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2%;
    margin-bottom: 4rem;
    aside{
        background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
        border: 1px solid #D7D7D7;
        border-radius: 15px;
        padding: 1rem 0;
        width: 292px;
        margin: 1rem 0;
        .span__icons{
            padding: 1rem;
            .aicons{
                color: #A02279;
            }
        }
        .image_cont{
            text-align: center;
        }
        img{
            width: 90%;
            margin: auto;
            object-fit: cover;
            height: 265px;
        }
        .text_content-grid{
            padding: 1rem;
            span{
                display: flex;
                justify-content: space-between;
                align-items: center;
                p{
                    font-size: 13px;
                    margin: 0;
                    strong{
                        color: black;
                        font-weight: bold;
                    }
                }
            }
        }
       
    }
}