.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 20vh;
  left: 5%;
  width: 60%;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  @media (max-width: 550px) {
    
      width: 80%;
   
  }
}

@media (min-width: 768px) {
  .modal {
    width: 30rem;
    left: calc(50% - 15rem);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.aside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #cfd8dc;
  border-radius: 12px;
  padding: 0.2rem;
  margin: 0.3rem;
  cursor: pointer;
}
.aside span {
  display: flex;
  align-items: center;
  gap: 2%;
  img {
    width: 50px;
    height: 50px;
  }
}
.tag{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
