.navbar__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  background: #fff;
 
  .navbar__logo {
    @media (max-width: 550px) {
      width: 45%;
    }
  }
  img {
    @media (max-width: 550px) {
      width: 60%;
    }
  }
  .nav__links {
    display: flex;
    a {
      color: black;
    }
    li {
      padding: 1rem;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 25px;
      color: #434343;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
  .navbar__connet-wallet {
    border: 1px solid green;
    background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
    border-radius: 10px;
    font-family: "Red Rose";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
  }
}
.menu {
  font-size: 30px;
  margin-left: 1rem;
  display: none;
  @media (max-width:768px) {
    display: block;
  }
}
.responsive__nav {
  text-align: center;
  flex-direction: column;
  min-height: 10rem;
  border-radius: 12px;
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  position: absolute;
  right: 2%;
  top: 60px;
  padding: 1rem;
  -webkit-animation: scale-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	     animation: scale-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
@-webkit-keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
}

 
  a {
    color: white;
  }
  li {
    padding: 1rem;
    color: white;
    cursor: pointer;
  }
}
