.shuffle {
  margin-top: 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5rem;
 
}
.flex-p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0.5rem 1rem;
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  border: 1px solid #b4b4b4;
  border-radius: 8px;
  cursor: pointer;
  span {
    margin-right: 1rem;
  }
}
